* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Body*/
body {
    background-color: #f6f8f9;
}

/*Header*/
header {
    background-color: #ffffff;
}

#logo {
    padding: 10px 20px;
}

/*Main*/
main {
    max-width: 70%;
    margin: 40px auto;
    background-color: #f6f8f9;
}

main header {
    padding-left: 40px;
    border-bottom: 2px solid #f6f8f9;
}

.button {
    background-color: #ffffff;
    border: 1px solid #dbdfe1;
    border-radius: 5px;
    font-size: 10px;
    padding: 7px 10px;
    margin: 10px 0;
}

.button.task-button {
    background-color: #14aaf5;
}

main div {
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: #ffffff;
}

section {
    padding-top: 35px;
}

h2 {
    font-size: 15px;
    margin-bottom: 10px;
}

.h2-icon {
    vertical-align: 20%;
    display: inline-block;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 10px;
}

ul {
    list-style-type: none;
}

.check-icon {
    color: green;
    font-size: 12px;
    display: inline-block;
    border: 1px solid green;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    text-align: center;
    align-content: center;
    margin: 10px 10px 10px 0;
}

.check-icon.cross-icon {
    font-size: 20px;
    color: red;
    border-color: red;
}

.list-icon {
    display: inline-block;
    font-size: 8px;
    background-color: #09a9ed;
    color: white;
    border: 2px hidden;
    border-radius: 10px;
    vertical-align: middle;
    padding: 6px 10px;
}

.list-icon.q1-goals {
    background-color: #ab5de6;
}

.list-icon.recruiting {
    background-color: #2cc6ab;
}

.list-icon.mobile {
    background-color: #ff9b00;
}

.list-icon.website {
    background-color: #ec4a9d;
}

.list-icon.sales {
    background-color: #a3d116;
}